In [1]:
import pandas as pd

In [122]:
train_base = pd.read_csv('./Train128.csv', header=None, keep_default_na=False)
train_base.iloc[3]

0                         a4
1                          P
2      1010000000000000000.0
3                   1.39E+18
4                   3.38E+18
               ...
381
382
383
384
385
Name: 3, Length: 386, dtype: object

In [123]:
train_base = pd.read_csv('./train_base.csv', header=None)
train_base.iloc[3]

0                       a4
1      1011775033572361728
2      1392918053001556370
3      3379647737167460193
4      4245799922589272377
              ...
380
381
382
383
384
Name: 3, Length: 385, dtype: object

In [112]:
# teacher convert
train_base_binary = pd.read_csv('./train_base.binary.csv')
train_base_binary.columns

Index(['Unnamed: 0', '10004236570487584249', '10006261853817802287',
       '1000924580931086152', '10010614138931189637', '10013536699398912950',
       '10025880196521349333', '10026110878998557902', '10037017386882264283',
       '10039423937033256401',
       ...
       '9982813782122035850', '998530347331628591', '9988391285502756215',
       '9990381798854864604', '9991283589751905491', '99923678814491871',
       '9995787872821833276', '9996402920067181418', '9996816059703426237',
       '9998690016674786844'],
      dtype='object', length=5577)

In [115]:
# my convert
train_base_my_binary = pd.read_csv('./train_base_my.binary.csv')
train_base_my_binary.columns

Index(['Unnamed: 0', '10004236570487584249', '10006261853817802287',
       '1000924580931086152', '10010614138931189637', '10013536699398912950',
       '10025880196521349333', '10026110878998557902', '10037017386882264283',
       '10039423937033256401',
       ...
       '9982813782122035850', '998530347331628591', '9988391285502756215',
       '9990381798854864604', '9991283589751905491', '99923678814491871',
       '9995787872821833276', '9996402920067181418', '9996816059703426237',
       '9998690016674786844'],
      dtype='object', length=5577)

In [104]:
a = pd.read_csv('./LableJiang1823Train.csv', header=None, keep_default_na=False)
a = a.iloc[:, 1:]
a.iloc[:, 0] = a.iloc[:, 0]#.astype(int)
a.iloc[0, 0]

3.87e+18

In [26]:
len(set(list(train_base[1])))

67

In [59]:
train_base.dtypes

0      object
1       int64
2      object
3      object
4      object
        ...
380    object
381    object
382    object
383    object
384    object
Length: 385, dtype: object

In [125]:
import torch

In [128]:
a = torch.tensor([[1,2,3], [3,4,5]])
b = torch.tensor([[3,2,3], [3,4,5]])
c = torch.tensor([[4,2,3], [3,4,5]])
d = [a,b,c]
d

[tensor([[1, 2, 3],
         [3, 4, 5]]),
 tensor([[3, 2, 3],
         [3, 4, 5]]),
 tensor([[4, 2, 3],
         [3, 4, 5]])]

In [141]:
s = torch.cat(d, dim=0)
s.shape

torch.Size([6, 3])

In [188]:
dd = {'jerry': 2, "annie": 3}

In [195]:
list(filter(lambda x: x != 3, dd.values()))

[2]

In [190]:
for d in dd.values():
    print(d)

2
3

In [182]:
import pandas as pd

In [185]:
dic = {1:[2], 4:[5]}

In [187]:
pd.DataFrame(dic)

   1  4
0  2  5